html, body, #app {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body, #app {
    overflow: hidden;
    position: relative;
}

img{
    width: 600px;
    padding-top: 100px;
    padding-left: 100px;
}

#menu {
    position: fixed;
    z-index: 2;
    top: 10px;
    right: 10px;
    clear: both;
    border: 1px solid #666;
    padding: 5px;
    background: #fff;
}

#menu .item {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

#container {
    position: relative;
    left: 0;
    width: 20000px;
    top: 0;
    height: 100%;
}

.pageContainer, .titlePage, .sectionPage, .codePage, .imgPage {
    width: 1024px;
    height: 100%;
    float: left;
    margin-right: 100px;
}

.titlePage, .sectionPage, .codePage, .imgPage {
    padding: 60px 20px;
}

.titlePage{
    background-color: #0088cc;
    color: white;
    text-align: center;
}


.imgPage{
    background-color: #006600;
    color: white;
}

.titlePageContent{
}

.header {
    padding-top: 100px;
    font-size: 10em;
}

.sectionPage{
    background-color: #f5f5f5;
}

.sectionHeader, .codeHeader {
    padding-top: 40px;
    font-size: 10em;
}

.subheader {
    padding-top: 140px;
    font-size: 4em;
}

.fiddleContainer{
    padding-top: 80px;
}

.sectionPageContent{
    padding-top: 60px;
    padding-left: 100px;
    width: 850px;
    font-size: 3em;
    line-height: 1.1em;
}

.title{
    background-color: #0088cc;
    color: #f5f5f5;
}

.imgItem{
    background-color: #006600;
    color: #f5f5f5;
}